body {
  background: #111;
  color: white;
  padding-top: 30px;
  // margin-left: -50px;
}

.banner {
  @media (min-width: 1000px) {
    position: fixed;
    top: 80px;
    right: 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  @media (max-width: 1000px) {
    text-align: center;
  }
  span {
    font-family: 'Englebert', sans-serif;
    font-size: 60px;
    color: #FFA500;
    text-align: right;
    @media (max-width: 1000px) {
      margin-right: 10px;
    }
  }
  img {
    height: 75px;
    @media (min-width: 1000px) {
      position: fixed;
      top: -100px;
      right: 95px;
      margin-top: 22.5px;
      height: 75px;
    }
    @media (max-width: 1000px) {
      margin-top: -30px;
    }
  }
  > a:hover {
    text-decoration: none;
  }
}

#main {
  font-family: 'Signika Negative', sans-serif;
  font-size: 40px;
  padding-left: 25px;
  text-align: left;
  .pre-q {
    padding-right: 15px;
    color: #428bca;
    font-size: 75px;
  }
  .answer {
    margin-top: 25px;
  }
  .pre-a {
    color: #428bca; 
    padding-right: 15px;
    font-size: 75px;
  }
  form {
    display: inline;
  }
  input {
    margin-right: 10px;
    margin-top: -25px;
    font-size: 30px;
    border-radius: 10px;
  }
}

#question-input, #invitees {
  margin-top: 40px;
  margin-left: 10%;
  width: 80%;
  font-size: 20px;
  text-align: center;
  &:focus {
    border-color: #FFA500;
    -webkit-box-shadow: 0 0 15px #FFA500;
    box-shadow:  0 0 15px #FFA500;
  }
  &::-webkit-input-placeholder {
      font-style: italic;
  }
}

.create-main {
  text-align: center !important;
}

#createpoll {
  margin-bottom: 40px;
  >button {
    margin-top: 40px;
    @media (max-width: 1000px) {
      font-size: 11px;
    }
    @media (min-width: 1000px) {
      font-size: 25px;
    }
  }
}

#invitees {
  font-size: 15px;
  resize: none;
  height: 200px;
  text-align: left;
}

#taunt {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  .quote {
    font-size: 30px;
  }
  .author {
    display: none;
    font-size: 20px;
    font-style: italic;
  }
}

#cheater {
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  margin-top: 50px;
  color: #C4493E;
  font-size: 30px;
  > img {
    margin-top: 50px;
    border-radius: 10px;
  }
}

#thankyou {
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  margin-top: 50px;
  color: rgb(82, 201, 82);
  font-size: 30px;
  > img {
    margin-top: 50px;
    border-radius: 10px;
  }
}

h3 {
  font-family: 'Signika Negative', sans-serif;
}

#index {
  text-align: center;
  @media (max-width: 1000px) {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }
  @media (min-width: 1000px) {
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
  }
  > span {
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
  }
  > a {
    margin-top: 50px;
    font-size: 30px;
  }
}

#footer {
  color: #ccc;
  background: #000;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  font-size: 20px;
  .avi, .made, .passion {
    color: #FFA500;
  }
}