body {
  background: #111;
  color: white;
  padding-top: 40px;
  font-family: 'Englebert', sans-serif;
}

.banner {
  position: absolute;
  top: 60px;
  left: 0px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  span {
    font-size: 60px;
    color: #FFA500;
    text-align: left;
  }
  img {
    position: absolute;
    top: -100px;
    left: 80px;
    margin-top: 22.5px;
    height: 75px;
  }
}

#footer {
  color: #ccc;
  background: #000;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  font-size: 20px;
  .made {
    color: #C67509;
  }
  .passion {
    color: #F12D47;
  }
}